.PoolStatisticSidebarButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;

  background: var(--accent_background);
  border-radius: 16px;

  width: 100%;
  padding: 12px 0;
  margin-right: 8px;
  color: var(--accent_color);
}

.PoolStatisticSidebarButton:hover {
  background: var(--accent_background_hover);
}

.PoolStatisticSidebarButton:active {
  background: var(--accent_background_click);
}

.PoolStatisticSidebarButton:last-child {
  margin-right: 0;
}

.PoolStatisticSidebarButton__icon {
  margin-right: 8px;
}

.PoolStatisticSidebarButton__text {
  margin: 0;
}