.LoginButton {
  cursor: pointer;
  display: flex;
  align-items: center;

  padding: 12px 16px;
  color: var(--accent_color);

  outline: none;
  border: none;
  background: #FFFFFF;
  box-shadow: 0 4px 38px rgba(0, 0, 0, .02);
  border-radius: 28px;
}

.LoginButton__text {
  margin-left: 8px;
  padding-right: 4px;
}