.FullCentredLayout {
  display: flex;

  margin: 18px 100px;
  min-height: calc(var(--page_min_height) - var(--page_vertical_margin) * 2);
}

@media (max-width: 924px) {
  .FullCentredLayout {
    display: block;
    margin: 18px 16px;
  }
}

@media (max-width: 600px) {
  .FullCentredLayout {
    --graph_stock_size: 140px;
    min-height: calc(100vh + var(--graph_stock_size));
  }
}

