.SwapTokensButton {
  cursor: pointer;
  margin-left: auto;

  padding: 0;
  border: none;
  outline: none;

  background: var(--accent_background);
  border-radius: 16px;
}

.SwapTokensButton:not([disabled]):hover {
  background: var(--accent_background_hover);
}

.SwapTokensButton:not([disabled]):active {
  background: var(--accent_background_click);
}

.SwapTokensButton[disabled] {
  cursor: auto;
  opacity: .5;
}

.SwapTokensButton__text {
  margin: 0;
  padding: 16px 20px;

  color: var(--accent_color);
}