.TokensPairLabel {
  display: flex;
  justify-content: space-between;

  border-radius: 16px;
  background: var(--tertiary_background);
  border: 1px solid var(--stroke_tertiary);
}

.TokensPairLabel--focused {
  border: 1px solid var(--accent_color);
  box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.15);
}

.TokensPairLabel:not(:first-child) {
  margin-top: 12px;
}

.TokensPairLabelInput {
  width: auto;
  padding: 12px 16px;

  outline: none;
  border: none;
  background: none;
  margin: 0;

  font-family: var(--FFMulish);
  font-weight: 600;
  font-size: 17px;

  box-sizing: border-box;
  color: var(--text_primary);
}

.TokensPairLabel:not(.TokensPairLabel--focused):not(.TokensPairLabel--disabled):hover {
  border: 1px solid var(--stroke_secondary);
}

.TokensPairLabelInput::placeholder {
  color: var(--text_tertiary);
}

.TokensPairLabelSelectToken {
  cursor: default;
  margin: 6px;
}
