.PoolCell {
  cursor: pointer;
  border-top: 8px solid red;
  background: var(--island_background);
}

.PoolCellToken {
  position: relative;

  display: flex;
  align-items: center;

  text-transform: uppercase;
  color: var(--text_primary);
}

.PoolCellToken__text {
  margin-left: 20px;
}

.PoolCellAPY--positive {
  color: var(--severity_green);
}

.PoolCellAPY--negative {
  color: var(--severity_red);
}

.PoolCellAPY {
}

.PoolCellAPY span {
  display: block;
  /*margin-left: 24px;*/
  margin-right: 12px;
}