.SelectToken {
  cursor: pointer;
  display: flex;
  align-items: center;

  padding: 8px 12px;
  background: var(--island_background);
  box-shadow: 0 4px 36px rgba(0, 0, 0, .05);
  border-radius: 12px;
}

.SelectToken__image {
  width: 16px;
  height: 16px;

  border-radius: 50%;
}

.SelectToken__image,
.SelectToken__fakeToken {
  margin-right: 8px;
}

.SelectToken__empty,
.SelectToken__text {
  text-transform: uppercase;
  margin: 0;
}

.SelectToken__empty {
  color: var(--text_quartenary);
}

.SelectToken__text  {
  color: var(--text_primary);
}

.SelectToken__icon {
  margin-left: 8px;
  color: var(--icon_secondary);
}

.SelectToken__fakeToken {
  color: var(--stroke_primary);
}