.SelectToken {
  cursor: pointer;
  display: flex;
  align-items: center;

  padding: 8px 12px;
  background: var(--island_background);
  box-shadow: 0 4px 36px rgba(0, 0, 0, .05);
  border-radius: 12px;
}

.SelectToken__image {
  width: 16px;
  height: 16px;

  margin: 2px 8px 0 0;
}

.SelectToken__text {
  color: var(--text_primary);
  text-transform: uppercase;
  margin: 0;
}

.SelectToken__icon {
  margin-left: 8px;
  /* @TODO token */
  color: #CECECE;
}