.ModalRootWrapper {
  position: absolute;
  z-index: 9999;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .25);
}

.ModalRoot {
  max-width: 322px;
  width: 100%;
  min-height: 300px;

  box-shadow: 0 4px 250px rgba(0, 0, 0, .02);
  border-radius: 24px;

  overflow: hidden;
  background: var(--island_background);
}

#SelectToken {
  max-width: 368px;
  max-height: 552px;
}