.PageHeaderTonLogo {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.PageHeaderTonLogo rect {
  color: var(--accent_color);
}

.PageHeaderTonLogo path {
  color: var(--text_primary);
}

.PageHeaderTonLogo__title {
  margin: 0 0 0 12px;
  color: var(--text_primary);
}