.PoolStatisticHeaderTab {
  cursor: pointer;
  user-select: none;

  margin-right: 4px;
  border-radius: 12px;

  padding: 8px 12px;
  color: var(--text_secondary);
}

.PoolStatisticHeaderTab:last-child {
  margin-right: 0;
}

.PoolStatisticHeaderTab:not(.PoolStatisticHeaderTab--active):hover {
  background: var(--primary_background);
}

.PoolStatisticHeaderTab--active {
  color: var(--text_primary);
  background: var(--island_background);
}
