.CreateLiquidityHeader {
  display: flex;
  align-items: center;

  padding: 20px 4px;
}

.CreateLiquidityHeader__icon {
  cursor: pointer;

  margin-right: 12px;
  color: var(--text_quartenary);
}

.CreateLiquidityHeader__icon:hover {
  color: var(--icon_primary);
}

.CreateLiquidityHeader__text {
  margin: 0;
  color: var(--text_primary);
}