.MiddleLayoutWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 32px 0;
  min-height: calc(var(--page_min_height) - var(--page_vertical_margin) * 2);
}

.MiddleLayout {
  max-width: 432px;
  width: 100%;

  box-shadow: 0 4px 250px rgba(0, 0, 0, 0.02);
  border-radius: 28px;

  padding: 0 16px;
  background: var(--island_background);
}

@media (max-width: 730px) {
  .MiddleLayout {
    max-width: 358px;
    margin: 0 16px;
  }
}
